.elementor-15137 .elementor-element.elementor-element-43872bb {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-8aa3b76 {
    --display: flex;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 2px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 2px;
    --border-left-width: 0px;
    border-color: #F3F7F7;
    --border-color: #F3F7F7;
    --border-radius: 0px 0px 0px 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 15px;
    --margin-right: 15px;
    --padding-top: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-8aa3b76,
.elementor-15137 .elementor-element.elementor-element-8aa3b76::before {
    --border-transition: 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-5c82592 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-3e7eb57 {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-15137 .elementor-element.elementor-element-2e02945 {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-2e02945>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-e77b46d {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-e77b46d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-c6d1a51 {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-c6d1a51>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-ed0b213 {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-ed0b213>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-cf8aace {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 81px;
    --padding-bottom: 75px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-079cb64 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-15137 .elementor-element.elementor-element-753be9d {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 15px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 20px;
}

.elementor-15137 .elementor-element.elementor-element-6bb821a {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-6bb821a>.elementor-widget-container {
    margin: 0px 0px -6px 0px;
}

.elementor-15137 .elementor-element.elementor-element-83840d3 {
    text-align: left;
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-08ceaae-font-family), Sans-serif;
    font-size: var( --e-global-typography-08ceaae-font-size);
    font-weight: var( --e-global-typography-08ceaae-font-weight);
    line-height: var( --e-global-typography-08ceaae-line-height);
    letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
    word-spacing: var( --e-global-typography-08ceaae-word-spacing);
}

.elementor-15137 .elementor-element.elementor-element-83840d3>.elementor-widget-container {
    margin: 0px 0px -14px 0px;
    padding: 0px 0px 0px 5px;
}

.elementor-15137 .elementor-element.elementor-element-55b5437 {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-55b5437>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 5px;
}

.elementor-15137 .elementor-element.elementor-element-514ab4c {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 66px;
    --padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-b69113f {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-b69113f .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-cae0fa7-font-family), Sans-serif;
    font-size: var( --e-global-typography-cae0fa7-font-size);
    font-weight: var( --e-global-typography-cae0fa7-font-weight);
    text-decoration: var( --e-global-typography-cae0fa7-text-decoration);
    line-height: var( --e-global-typography-cae0fa7-line-height);
    letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
    word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
}

.elementor-15137 .elementor-element.elementor-element-b69113f>.elementor-widget-container {
    margin: 0px 0px -3px 0px;
    padding: 0px 0px 0px 5px;
}

.elementor-15137 .elementor-element.elementor-element-c121a44 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent);
    --divider-border-width: 2px;
}

.elementor-15137 .elementor-element.elementor-element-c121a44 .elementor-divider-separator {
    width: 30px;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-15137 .elementor-element.elementor-element-c121a44 .elementor-divider {
    text-align: left;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-15137 .elementor-element.elementor-element-c121a44>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 5px;
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2);
}

body.rtl .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2);
}

body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2);
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
    transition: color 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
    transition: fill 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-852c1fe {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: center;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-offset: 0px;
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-08ceaae-font-family), Sans-serif;
    font-size: var( --e-global-typography-08ceaae-font-size);
    font-weight: var( --e-global-typography-08ceaae-font-weight);
    line-height: var( --e-global-typography-08ceaae-line-height);
    letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
    word-spacing: var( --e-global-typography-08ceaae-word-spacing);
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-15137 .elementor-element.elementor-element-852c1fe>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-58c9564 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 14px;
    --padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-b0b6a85 {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-b0b6a85 .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-cae0fa7-font-family), Sans-serif;
    font-size: var( --e-global-typography-cae0fa7-font-size);
    font-weight: var( --e-global-typography-cae0fa7-font-weight);
    text-decoration: var( --e-global-typography-cae0fa7-text-decoration);
    line-height: var( --e-global-typography-cae0fa7-line-height);
    letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
    word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
}

.elementor-15137 .elementor-element.elementor-element-b0b6a85>.elementor-widget-container {
    margin: 0px 0px -3px 0px;
    padding: 0px 0px 0px 5px;
}

.elementor-15137 .elementor-element.elementor-element-d1fd7de {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent);
    --divider-border-width: 2px;
}

.elementor-15137 .elementor-element.elementor-element-d1fd7de .elementor-divider-separator {
    width: 30px;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-15137 .elementor-element.elementor-element-d1fd7de .elementor-divider {
    text-align: left;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-15137 .elementor-element.elementor-element-d1fd7de>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 5px;
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2);
}

body.rtl .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2);
}

body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2);
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
    transition: color 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
    transition: fill 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-3f20301 {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: center;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-offset: 0px;
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-08ceaae-font-family), Sans-serif;
    font-size: var( --e-global-typography-08ceaae-font-size);
    font-weight: var( --e-global-typography-08ceaae-font-weight);
    line-height: var( --e-global-typography-08ceaae-line-height);
    letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
    word-spacing: var( --e-global-typography-08ceaae-word-spacing);
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-15137 .elementor-element.elementor-element-3f20301>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-2f8ddc0 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 22px;
    --padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-3793915 {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-3793915 .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-cae0fa7-font-family), Sans-serif;
    font-size: var( --e-global-typography-cae0fa7-font-size);
    font-weight: var( --e-global-typography-cae0fa7-font-weight);
    text-decoration: var( --e-global-typography-cae0fa7-text-decoration);
    line-height: var( --e-global-typography-cae0fa7-line-height);
    letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
    word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
}

.elementor-15137 .elementor-element.elementor-element-3793915>.elementor-widget-container {
    margin: 0px 0px -3px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-6f5a962 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent);
    --divider-border-width: 2px;
}

.elementor-15137 .elementor-element.elementor-element-6f5a962 .elementor-divider-separator {
    width: 30px;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-15137 .elementor-element.elementor-element-6f5a962 .elementor-divider {
    text-align: left;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-15137 .elementor-element.elementor-element-6f5a962>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2);
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2);
}

body.rtl .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2);
}

body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2);
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
    transition: color 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
    transition: fill 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-c90e846 {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: center;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-offset: 0px;
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-08ceaae-font-family), Sans-serif;
    font-size: var( --e-global-typography-08ceaae-font-size);
    font-weight: var( --e-global-typography-08ceaae-font-weight);
    line-height: var( --e-global-typography-08ceaae-line-height);
    letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
    word-spacing: var( --e-global-typography-08ceaae-word-spacing);
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-15137 .elementor-element.elementor-element-c90e846>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15137 .elementor-element.elementor-element-c711a5a {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-15137 .elementor-element.elementor-element-c711a5a .elementor-widget-container {
    text-align: left;
}

.elementor-15137 .elementor-element.elementor-element-c711a5a .elementor-social-icon {
    background-color: var( --e-global-color-e6b2731);
}

.elementor-15137 .elementor-element.elementor-element-c711a5a .elementor-social-icon i {
    color: var( --e-global-color-fbba679);
}

.elementor-15137 .elementor-element.elementor-element-c711a5a .elementor-social-icon svg {
    fill: var( --e-global-color-fbba679);
}

.elementor-15137 .elementor-element.elementor-element-c711a5a .elementor-social-icon:hover {
    background-color: var( --e-global-color-secondary);
}

.elementor-15137 .elementor-element.elementor-element-c711a5a .elementor-social-icon:hover i {
    color: var( --e-global-color-fbba679);
}

.elementor-15137 .elementor-element.elementor-element-c711a5a .elementor-social-icon:hover svg {
    fill: var( --e-global-color-fbba679);
}

.elementor-15137 .elementor-element.elementor-element-c711a5a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

@media(max-width:1366px) {
    .elementor-15137 .elementor-element.elementor-element-43872bb {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-cf8aace {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-83840d3 {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-b69113f .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-b0b6a85 .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-3793915 .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
}

@media(max-width:1024px) {
    .elementor-15137 .elementor-element.elementor-element-43872bb {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 40px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-8aa3b76 {
        --padding-top: 0px;
        --padding-bottom: 40px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-5c82592 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-3e7eb57 {
        text-align: center;
    }
    .elementor-15137 .elementor-element.elementor-element-3e7eb57 img {
        width: 80%;
    }
    .elementor-15137 .elementor-element.elementor-element-2e02945 {
        text-align: center;
    }
    .elementor-15137 .elementor-element.elementor-element-2e02945 img {
        width: 80%;
    }
    .elementor-15137 .elementor-element.elementor-element-e77b46d {
        text-align: center;
    }
    .elementor-15137 .elementor-element.elementor-element-e77b46d img {
        width: 80%;
    }
    .elementor-15137 .elementor-element.elementor-element-e77b46d>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-c6d1a51 {
        text-align: center;
    }
    .elementor-15137 .elementor-element.elementor-element-c6d1a51 img {
        width: 80%;
    }
    .elementor-15137 .elementor-element.elementor-element-da7741d {
        text-align: center;
    }
    .elementor-15137 .elementor-element.elementor-element-da7741d img {
        width: 80%;
    }
    .elementor-15137 .elementor-element.elementor-element-ed0b213 {
        text-align: center;
    }
    .elementor-15137 .elementor-element.elementor-element-ed0b213 img {
        width: 80%;
    }
    .elementor-15137 .elementor-element.elementor-element-cf8aace {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 65px;
        --padding-bottom: 70px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-753be9d {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 5px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-83840d3 {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-83840d3>.elementor-widget-container {
        margin: 0px 0px -18px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-55b5437 img {
        max-width: 70%;
    }
    .elementor-15137 .elementor-element.elementor-element-55b5437>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-514ab4c {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-b69113f .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-c121a44>.elementor-widget-container {
        margin: 0px 0px 5px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(5px/2);
        margin-left: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-5px/2);
        margin-left: calc(-5px/2);
    }
    body.rtl .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-5px/2);
    }
    body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-58c9564 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-b0b6a85 .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-d1fd7de>.elementor-widget-container {
        margin: 0px 0px 5px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(5px/2);
        margin-left: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-5px/2);
        margin-left: calc(-5px/2);
    }
    body.rtl .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-5px/2);
    }
    body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-2f8ddc0 {
        --justify-content: flex-start;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-3793915 .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-6f5a962>.elementor-widget-container {
        margin: 0px 0px 5px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(5px/2);
        margin-left: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-5px/2);
        margin-left: calc(-5px/2);
    }
    body.rtl .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-5px/2);
    }
    body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-c711a5a {
        --icon-size: 14px;
    }
}

@media(max-width:767px) {
    .elementor-15137 .elementor-element.elementor-element-43872bb {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 30px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-8aa3b76 {
        --padding-top: 0px;
        --padding-bottom: 30px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-5c82592 {
        --justify-content: center;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-3e7eb57>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-2e02945>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-e77b46d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-c6d1a51>.elementor-widget-container {
        margin: 0px -6px 0px 0px;
        padding: 0px 0px 0px 6px;
    }
    .elementor-15137 .elementor-element.elementor-element-da7741d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-cf8aace {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 60px;
        --padding-bottom: 60px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-753be9d {
        --margin-top: 0px;
        --margin-bottom: 10px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-6bb821a {
        text-align: center;
    }
    .elementor-15137 .elementor-element.elementor-element-83840d3 {
        text-align: center;
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-83840d3>.elementor-widget-container {
        margin: 0px 0px -20px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-55b5437 {
        text-align: center;
    }
    .elementor-15137 .elementor-element.elementor-element-55b5437>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-514ab4c {
        --width: 46.8%;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-b69113f .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-b69113f>.elementor-widget-container {
        margin: 0px 0px -10px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-c121a44>.elementor-widget-container {
        margin: 0px 0px -5px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(5px/2);
        margin-left: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-5px/2);
        margin-left: calc(-5px/2);
    }
    body.rtl .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-5px/2);
    }
    body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-852c1fe .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-852c1fe>.elementor-widget-container {
        margin: -5px 0px 0px -5px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-58c9564 {
        --width: 46.8%;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-b0b6a85 .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-b0b6a85>.elementor-widget-container {
        margin: 0px 0px -10px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-d1fd7de>.elementor-widget-container {
        margin: 0px 0px -5px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(5px/2);
        margin-left: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-5px/2);
        margin-left: calc(-5px/2);
    }
    body.rtl .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-5px/2);
    }
    body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-3f20301 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-3f20301>.elementor-widget-container {
        margin: -5px 0px 0px -5px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-2f8ddc0 {
        --width: 100%;
        --justify-content: flex-start;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-3793915 .elementor-heading-title {
        font-size: var( --e-global-typography-cae0fa7-font-size);
        line-height: var( --e-global-typography-cae0fa7-line-height);
        letter-spacing: var( --e-global-typography-cae0fa7-letter-spacing);
        word-spacing: var( --e-global-typography-cae0fa7-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-3793915>.elementor-widget-container {
        margin: 0px 0px -10px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-6f5a962>.elementor-widget-container {
        margin: 0px 0px -5px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(5px/2);
        margin-left: calc(5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-5px/2);
        margin-left: calc(-5px/2);
    }
    body.rtl .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-5px/2);
    }
    body:not(.rtl) .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-5px/2);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-15137 .elementor-element.elementor-element-c90e846 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-08ceaae-font-size);
        line-height: var( --e-global-typography-08ceaae-line-height);
        letter-spacing: var( --e-global-typography-08ceaae-letter-spacing);
        word-spacing: var( --e-global-typography-08ceaae-word-spacing);
    }
    .elementor-15137 .elementor-element.elementor-element-c90e846>.elementor-widget-container {
        margin: -5px 0px -5px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-15137 .elementor-element.elementor-element-c711a5a .elementor-widget-container {
        text-align: left;
    }
    .elementor-15137 .elementor-element.elementor-element-c711a5a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-15137 .elementor-element.elementor-element-753be9d {
        --width: 35%;
    }
    .elementor-15137 .elementor-element.elementor-element-514ab4c {
        --width: 20%;
    }
    .elementor-15137 .elementor-element.elementor-element-58c9564 {
        --width: 15%;
    }
    .elementor-15137 .elementor-element.elementor-element-2f8ddc0 {
        --width: 24.5%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-15137 .elementor-element.elementor-element-753be9d {
        --width: 38%;
    }
    .elementor-15137 .elementor-element.elementor-element-514ab4c {
        --width: 15%;
    }
}