/* Elementor Sections Responsive Css */

@media only screen and (min-width: 1921px) {}

@media screen and (min-width: 1367px) and (max-width: 1600px) {}

@media only screen and (max-width: 1366px) {
    .video-icon {
        width: 170px !important;
        height: 170px !important;
    }
    .video-icon img {
        width: 170px !important;
        height: 170px !important;
    }
    .contact-form-section .form-control {
        padding: 15px;
        margin-bottom: 10px;
    }
    .contact-form-section h4 {
        margin-bottom: 10px;
    }
    .contact-form-section textarea {
        height: 125px;
        margin-bottom: 10px !important;
    }
    .services-video-icon {
        width: 100px !important;
        height: 100px !important;
    }
    .services-video-icon img {
        width: 100px !important;
        height: 100px !important;
    }
    .quote-form .form-control {
        margin-bottom: 14px;
    }
    .quote-form textarea {
        margin-bottom: 14px !important;
    }
    .quote-form .submit {
        padding: 18px 40px;
    }
    .quote-form .wpcf7-not-valid-tip {
        top: 52px;
    }
}

@media only screen and (max-width: 1024px) {
    .video-icon {
        width: 130px !important;
        height: 130px !important;
    }
    .video-icon img {
        width: 130px !important;
        height: 130px !important;
    }
    .contact-form-section .submit {
        padding: 16px 30px;
    }
    .services-video-icon {
        width: 90px !important;
        height: 90px !important;
    }
    .services-video-icon img {
        width: 90px !important;
        height: 90px !important;
    }
    .newsletter-form .mc4wp-form-fields {
        width: 470px;
    }
    .newsletter-form .input {
        height: 62px;
        padding: 18px 24px;
    }
    .newsletter-form .submit {
        padding: 14px 30px;
    }
    .quote-form .submit {
        font-size: 14px !important;
        line-height: 16px !important;
    }
}

@media only screen and (max-width: 767px) {
    .video-icon {
        width: 110px !important;
        height: 110px !important;
    }
    .video-icon img {
        width: 110px !important;
        height: 110px !important;
    }
    .faq-section .elementor-accordion .elementor-accordion-item {
        margin-bottom: 20px;
    }
    .contact-form-section .form-control {
        padding: 12px;
    }
    .contact-form-section textarea {
        height: 100px;
    }
    .contact-form-section .submit {
        padding: 16px 20px;
        font-size: 14px !important;
        line-height: 14px !important;
    }
    .services-video-icon {
        width: 70px !important;
        height: 70px !important;
    }
    .services-video-icon img {
        width: 70px !important;
        height: 70px !important;
    }
    .newsletter-form .mc4wp-form-fields {
        width: 100%;
    }
    .newsletter-form .input {
        font-size: 14px;
        line-height: 14px;
        height: 50px;
        padding: 14px 20px 16px 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    .newsletter-form .submit {
        padding: 10px 20px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        display: flex;
    }
    .newsletter-form .mc4wp-response p {
        padding: 10px 0 0;
        font-size: 14px;
    }
    .quote-form .wpcf7-not-valid-tip {
        top: 46px;
    }
}